html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

body {
  background-color: var(--white-color);
  color: var(--primary-text-color);
  font-family: Roboto, Sans-serif;
}

.title {
  color: var(--secondary-text-color);
}

.link {
  text-decoration: none;
}

:root {
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --accent-text-color: #2196f3;
  --white-color: #ffffff;
  --background-aditional-color: #f5f4fa;
  --background-accent-color: #2f303a;
  --secondary-logo-color: #000000;
  --header-border-color: #ececec;
  --border-color: #eeeeee;
  --background-hero-color: #c4c4c4;
  --transition-duration-timing-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  font-family: inherit;
  cursor: pointer;
  transition: color var(--transition-duration-timing-function), background-color var(--transition-duration-timing-function);
}

.button:hover, .button:focus {
  color: var(--white-color);
  background-color: var(--accent-text-color);
}

.container {
  width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.container-title {
  margin-bottom: 50px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

svg {
  fill: currentColor;
}

.backdrop {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  transition: opacity var(--transition-duration-timing-function), visibility var(--transition-duration-timing-function);
}

.modal {
  width: 528px;
  min-height: 581px;
  background-color: #fff;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: scale(1) rotate(0) translate(-50%, -50%);
  transition: transform var(--transition-duration-timing-function);
  padding-top: 40px;
  padding-right: 39px;
  padding-bottom: 40px;
  padding-left: 41px;
}

.backdrop.is-hidden .modal {
  transform: scale(3.5) rotate(90deg);
}

.modal-close {
  cursor: pointer;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color var(--transition-duration-timing-function);
}

.modal-close:hover, .modal-close:focus {
  color: var(--accent-text-color);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--secondary-text-color);
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}

.modal-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  color: var(--primary-text-color);
  letter-spacing: 0.01em;
  margin-bottom: 4px;
}

.modal-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: outline-color var(--transition-duration-timing-function);
}

.modal-input:focus {
  outline-color: var(--accent-text-color);
  padding-left: 42px;
}

.modal-form-field {
  margin-bottom: 10px;
}

.modal-button {
  display: block;
  margin: 0 auto;
  padding: 10px 55px;
  border: none;
  border-radius: 4px;
  color: var(--white-color);
  background-color: var(--accent-text-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  transition: background-color var(--transition-duration-timing-function), box-shadow var(--transition-duration-timing-function);
}

.modal-button:hover {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.modal-text {
  width: 100%;
  height: 120px;
  resize: none;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 20px;
  transition: outline-color var(--transition-duration-timing-function);
}

.modal-text:focus {
  outline-color: var(--accent-text-color);
}

.modal-input-field {
  position: relative;
}

.input-icon {
  fill: var(--secondary-text-color);
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill var(--transition-duration-timing-function);
}

.modal-input:focus ~ .input-icon {
  fill: var(--accent-text-color);
}

.modal-check-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-check-text span {
  width: 16px;
  height: 15px;
  border: 2px solid #000000;
  margin-right: 8.38px;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color var(--transition-duration-timing-function), border var(--transition-duration-timing-function);
}

.modal-check:checked + .modal-check-text span {
  background-color: var(--accent-text-color);
  border: none;
}

.modal-check-link {
  display: block;
  color: var(--accent-text-color);
  text-decoration-skip-ink: none;
  margin-left: 3px;
}

.modal-text-form-field {
  margin-bottom: 30px;
}

.icon-check {
  fill: transparent;
  transition: fill var(--transition-duration-timing-function);
}

.modal-check:checked + .modal-check-text .icon-check {
  fill: var(--white-color);
}

.social-list {
  display: flex;
  justify-content: center;
}

.social-list__item {
  display: flex;
  width: 44px;
  height: 44px;
}

.social-list__item + .social-list__item {
  margin-left: 10px;
}

.social-list__link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color var(--transition-duration-timing-function), background-color var(--transition-duration-timing-function);
}

.social-list__link:hover, .social-list__link:focus {
  background-color: var(--accent-text-color);
  color: var(--white-color);
}

.social-list__link--light {
  color: #afb1b8;
}

.social-list__link--dark-bg {
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--white-color);
}

.logo {
  margin-right: 93px;
}

.logo__link {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo__accent {
  color: var(--accent-text-color);
}

.logo__part-logo--black {
  color: var(--secondary-logo-color);
}

.logo__part-logo--white {
  color: var(--white-color);
}

.address {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.46;
  letter-spacing: 0.03em;
  color: var(--white-color);
  margin-top: 20px;
  margin-bottom: 9px;
}

.contacts-list {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.contacts-list__item {
  display: flex;
  margin-right: 50px;
}

.contacts-list__item:last-child {
  margin-right: 0;
}

.contacts-list__link {
  display: flex;
  align-items: center;
  color: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color var(--transition-duration-timing-function);
}

.contacts-list__link:hover, .contacts-list__link:focus {
  color: var(--accent-text-color);
}

.contacts-list__icon {
  margin-right: 10px;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.header-navigation__contacts {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.site-header {
  border-bottom: 1px solid var(--header-border-color);
  padding-top: 24px;
  padding-bottom: 25px;
}

.navigation-list {
  display: flex;
  align-items: center;
}

.navigation-list__item {
  margin-right: 50px;
}

.navigation-list__item:last-child {
  margin-right: 0;
}

.navigation-list__link {
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color var(--transition-duration-timing-function);
}

.navigation-list__link:hover, .navigation-list__link:focus {
  color: var(--accent-text-color);
}

.navigation-list__link--current {
  color: var(--accent-text-color);
  position: relative;
}

.navigation-list__link--current::after {
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--accent-text-color);
  position: absolute;
  border-radius: 2px;
  left: 0;
  bottom: -32px;
  transition: color var(--transition-duration-timing-function);
}

.navigation-list__link--current::after:hover, .navigation-list__link--current::after:focus {
  color: var(--accent-text-color);
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  min-height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--background-hero-color);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/background-hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero__title {
  color: var(--white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
  max-width: 696px;
  margin-left: auto;
  margin-right: auto;
}

.hero__button {
  display: block;
  margin: 0 auto;
  font-weight: 700;
  min-width: 200px;
  min-height: 50px;
  border-radius: 4px;
  padding: 10px 32px;
  cursor: pointer;
  background-color: var(--accent-text-color);
  color: var(--white-color);
}

.benefits-list__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
  margin-bottom: 10px;
}

.benefits-list__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.benefits-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.benefits-list__item {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.benefits-list__item-block {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
}

.work {
  padding-top: 0;
}

.work__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  margin-bottom: 50px;
}

.work-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.work-list__item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.work-description {
  position: relative;
}

.work-description__text {
  width: 100%;
  height: 70px;
  bottom: 0;
  left: 0;
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
  position: absolute;
  background-color: rgba(47, 48, 58, 0.8);
  vertical-align: top;
  display: flex;
  justify-content: center;
  align-items: center;
}

.team {
  min-height: 708px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--background-aditional-color);
}

.team__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.team-item__text {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.team-item__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  margin-bottom: 10px;
}

.team-list__picture {
  display: block;
  max-width: 100%;
  height: auto;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.team-list__item {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.team-item {
  padding-top: 30px;
  padding-bottom: 30px;
  background: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.clients__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  margin-bottom: 50px;
}

.clients__list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.clients__item {
  width: 170px;
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clients__item + .clients__item {
  margin-left: 30px;
}

.clients__link {
  width: 100%;
  height: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #afb1b8;
  transition: color var(--transition-duration-timing-function), border-color var(--transition-duration-timing-function);
}

.clients__link:hover, .clients__link:focus {
  color: var(--accent-text-color);
  border-color: var(--accent-text-color);
}

.clients__icon {
  width: 106px;
  height: 60px;
}

.footer-container {
  display: flex;
  justify-content: start;
  align-items: baseline;
  align-content: space-between;
}

.footer {
  background-color: var(--background-accent-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.address-block {
  margin-right: 60px;
}

.footer-contacts {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-contacts__item {
  margin-bottom: 9px;
}

.footer-contacts__item:last-child {
  margin-bottom: 0;
}

.footer-contacts__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color var(--transition-duration-timing-function);
}

.footer-contacts__link:hover, .footer-contacts__link:focus {
  color: var(--accent-text-color);
}

.join {
  margin-right: 88px;
}

.join__title {
  font-style: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--white-color);
  margin-bottom: 20px;
  display: flex;
  text-transform: uppercase;
}

.subscribe__title {
  font-style: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--white-color);
  margin-bottom: 20px;
  display: flex;
  text-transform: uppercase;
}

.form-field {
  display: flex;
}

.form-field__input {
  width: 350px;
  height: 50px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  padding-left: 16px;
  color: var(--white-color);
  transition: box-shadow var(--transition-duration-timing-function);
}

.form-field__input:hover, .form-field__input:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.form-field__input::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-style: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  align-items: center;
}

.form-field__button {
  margin-left: 12px;
  background-color: var(--accent-text-color);
  color: var(--white-color);
  border: none;
  border-radius: 4px;
  padding: 10px 28px 10px 29px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.form-field__icon {
  margin-left: 10px;
}

.filters-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filters-list__button {
  border: none;
  display: inline-block;
  padding: 6px 22px;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  margin-left: 8px;
  transition: box-shadow var(--transition-duration-timing-function);
}

.filters-list__button:hover {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filters-list__button:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filters-list__button--current {
  color: var(--white-color);
  background-color: var(--accent-text-color);
  width: 73px;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  transition: box-shadow var(--transition-duration-timing-function);
}

.filters-list__button--current:hover {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filters-list__button--current:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.projects-content__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
  margin-bottom: 4px;
}

.projects-content__text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.projects-list__item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.projects-list__link {
  display: inline-block;
  transition: box-shadow var(--transition-duration-timing-function);
}

.projects-list__link:hover {
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.projects-content {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  border-bottom: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
}

.projects-wrap {
  position: relative;
  overflow: hidden;
}

.projects-wrap__text {
  position: absolute;
  top: 0;
  left: 0;
  font-style: 400;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 3%;
  color: var(--white-color);
  background-color: rgba(33, 150, 243, 0.9);
  height: 100%;
  padding: 63px 24px;
  overflow: auto;
  transform: translateY(101%);
  transition: transform var(--transition-duration-timing-function);
}

.projects-list__item:hover .projects-wrap__text {
  transform: translateY(-1px);
}
/*# sourceMappingURL=main.css.map */