.site-header {
  border-bottom: 1px solid var(--header-border-color);
  padding-top: 10px;
  padding-bottom: 10px;
  @media screen and (min-width: 768px) {
    padding-top: 21px;
    padding-bottom: 21px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 24px;
    padding-bottom: 25px;
  }
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.header-navigation {
  display: flex;
  align-items: center;
}

.header-navigation__contacts {
  padding-top: 26px;
  padding-bottom: 26px;
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
    margin-left: auto;
  }
}
