.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid var(--header-border-color);
  padding-top: 24px;
  padding-bottom: 25px;
}
.header-navigation {
  display: flex;
  align-items: center;
}

// .header-navigation__contacts {
//   display: flex;
//   align-items: center;
//   margin-left: auto;
// }
.mob-menu {
  position: fixed;
  background-color: #ffffff;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 5;
  padding-top: 48px;
  padding-bottom: 48px;
}
.open-menu-button {
  background-color: transparent;
  border: none;
}
.open-menu-button__icon {
  margin-left: auto;
}
.close-menu-button {
  display: block;
  margin-left: auto;
  background-color: transparent;
  border: none;
}
.mob-menu-list__item {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}

.mob-menu-list__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}
.mob-menu-list__link--current {
  color: var(--accent-text-color);
  position: relative;
}

.mob-menu-contacts-list__link--accented {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--accent-text-color);
}
.mob-menu-contacts-list__item {
  margin-bottom: 32px;
}
